@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #2a3229;
    font-family: 'Poppins', sans-serif;
}

table , td {
    border-collapse: collapse;
    border: 10px solid black;
    text-align: center;
    font-weight: bolder;
}

table {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    background-color: white;
}

td {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

h1 {
    font-size: 80px;
    color: white;
    margin: 5px;
}

p {
    font-size: 20px;
    color: white;
    margin: 5px;
}

#reset {
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    font-size: larger;
    width: 60px;
    height: 60px;
    text-align: center;
    transition: 0.5s;
}

#reset:hover {
    background-color: rgb(148, 0, 0);
    border-color: rgb(148, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}